.App {
  font-family: Montserrat;
  /* text-align: center; */
}
* {
  font-family: Montserrat;
  max-width: 100%;
  margin: 0%;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #d67d42;
  text-underline-offset: 6px;
  margin-top: 1%;
  color: #2e2e2e;
  font-size: 40px;
  font-weight: 100;
}
h2 {
  text-align: left;
  text-underline-offset: 6px;
  margin-top: 1%;
  margin-left: 12.5%;
  color: #2e2e2e;
  font-size: 26px;
}
h3 {
  text-align: left;
  text-underline-offset: 6px;
  color: #2e2e2e;
}
.Topbar {
  margin: 0%;
  width: 100%;
  overflow: hidden;
  background-color: #efefef;
  height: 2%;
}
.Topbar a {
  float: left;
  display: block;
  color: #2e2e2e;
  text-align: center;
  /* padding-right: 16px; */
  padding-top: 15px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  margin-left: 20px;
}
.Topbar a.active {
  color: #d67d20;
}
.active {
  color: #d67d20;
}
.Topbar img {
  float: left;
  padding-top: 0.3%;
  margin-left: 1%;
  padding-bottom: 0.3%;
  height: 39px;
  width: 39px;
}
.Topbar p {
  margin-top: 10px;
  margin-right: 12px;
  float: right;
  text-align: left;
  font-size: 70%;
  font-family: "Montserrat";
  color: #2e2e2e;
}
.logout_button {
  width: 5%;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #2e2e2e;
  text-indent: 9px;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("/css/logout.png") #f9f9f9;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 1px 8px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 2px 1px 8px 0 rgba(0, 0, 0, 0.17);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

  /* float: right;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background: url("/css/logout.png") #F9F9F9;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 4px;
  -webkit-box-shadow: 2px 1px 8px 0 rgba(0, 0, 0, 0.17); ;
  box-shadow: 2px 1px 8px 0 rgba(0, 0, 0, 0.17); ;
  text-indent: 8px; */
}
.notif-icon {
  fill: #2e2e2e;
  margin-left: 60%;
  width: 2px;
  height: 2px;
}
.nav-notif-button {
  background-color: #f9f9f9;
  width: 2px;
  height: 20px;
  margin-left: 78%;
  display: flex;
}
.notif {
  z-index: -2;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 0px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("./css/notifications.png") #f9f9f9;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
#ellipse {
  float: right;
  margin-top: 5px;
  margin-left: 10px;
  height: 15px;
  width: 15px;
  z-index: -1;
}
.memory {
  text-decoration: none !important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4px;
  overflow: hidden;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: #bfbfbf !important;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #2e2e2e;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: small;
}
.memory a {
  color: #bfbfbf;
  text-decoration: none !important;
}
.current-page a {
  color: #ffffff !important;
}
.bottomBar {
  position: fixed;
  background: #e5e5e5;
  height: 5%;
  width: 100%;
  bottom: 0;
}
.bottomBar p {
  padding-top: 0%;
  margin-top: 0.5%;
  /* padding-bottom: 4%; */
  text-align: center;
  color: #2e2e2e;
  font-size: small;
}
.bottomBar a {
  color: #2e2e2e;
  text-decoration: none;
}
.bottomBar {
  color: #d67d20;
}
.footer_span {
  color: #d67d20;
}
.admin-name {
  margin-left: 5%;
}
.admin-email {
  margin-left: 5%;
}

#submit-button {
  width: 10%;
  margin-left: 5%;
  margin-right: 2%;
  position: relative;
  left: 80.2%;
  margin-top: 3%;
  background-color: #d67d20;
  color: white;
  margin-bottom: 4%;
}
.table-size {
  width: 75% !important;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 50px;
}
table {
  text-align: left;
}

table td {
  padding-left: 1% !important;
}
.top-row {
  background-color: #d67d20 !important;
  color: #ffffff !important;
  font-size: 20px !important;
}
tr:nth-child(odd) {
  background-color: #efefef;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

table th {
  width: auto !important;
  padding-left: 1% !important;
}

.badgeStyle {
  color: #d67d20 !important;
}

.link {
  color: #14a4f4;
  text-decoration: underline;
}

.deleteAll {
  padding-left: 64% !important;
}
.date {
  top: 517px;
  font-size: small;
}
.time {
  font-size: smaller;
  color: #d67d20;
}

.datetime {
  margin-left: 5%;
  margin-right: auto;
  margin-top: 3%;
  vertical-align: middle;
  float: left;
}
.notificationBox {
  width: 70%;
  height: 111px;
  left: 339px;
  top: 517px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;

  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
  padding-bottom: 5%;
  padding-top: 3.5%;
  padding-right: 1%;
  padding-left: 1%;
  /* float: left !important; */
  text-align: left;
}

.notification {
  /* margin-left: 1%; */
  float: left;
  padding-top: 5%;
}
.deletenotification {
  color: #14a4f4 !important;
  text-decoration: underline;
  float: right !important;
  margin-right: 0.8% !important;
}

.sortbars {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  float: left;
  border-radius: 10px;
  border-collapse: separate !important;
  border-spacing: 100px !important;
  color: #2e2e2e;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #d67d20;
}
.filters {
  padding-left: 7%;
}
.itemboxes {
  flex: 1;
  flex-direction: row !important;
  width: 100%;
  text-align: center;
}

.box {
  width: 300px;
  border: 1px;
  /* -webkit-border-radius: 13px / 9px; */
  border-style: outset;
  border-radius: 13px / 9px;
  background-color: white !important;
  margin: 20px;
  height: 100px;
  padding-top: 0%;
  flex: 1;
  flex-direction: row !important;
}

.table {
  padding-top: 0% !important;
  float: left;
}
.table-size {
  height: 100px;
  float: left;
}

#image {
  width: 100px;
  height: 99px;
  -webkit-border-radius: 13px / 9px;
  border-radius: 13px / 9px;
  float: left;
  padding-bottom: 0%;
  padding-top: 0%;
}

.productDetails {
  padding-left: 5%;
}

.title {
  font-size: medium;
  color: #2e2e2e !important;
}
.artist {
  font-size: small;
  font-weight: normal;
  color: #2e2e2e;
}

.price {
  font-size: smaller;

  color: #d67d20;
}

.tutorial {
  padding-top: 1%;
  float: left;
  margin-left: 10%;
  /* margin-right: 100%; */
}

.totalBill {
  float: right !important;
  margin-right: 13% !important;
  font-weight: bold;
}

.shippingAddress {
  float: left;
  margin-left: 12.5%;
  padding-top: 3%;
}

.confirmOrder-button {
  width: auto;
  height: 30px;
  background-color: #d67d20;
  color: #efefef;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 12.5% !important;
  float: right;
}
.continueShopping-button {
  width: auto;
  height: 30px;
  background-color: #d67d20;
  color: #efefef;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  /* margin-top: 5%; */
  margin-left: -9% !important;
  /* float: right; */
}

.checkout-button {
  width: auto;
  height: 30px;
  background-color: #2e2e2e;
  color: #efefef;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  /* margin-top: 5%; */
  /* margin-top: 2%; */
  /* margin-left: 30%; */
  /* margin-right: 1% !important; */
  /* float: right !important; */
}
.outer {
  margin-top: 3%;
  float: right !important;
  margin-right: -7%;
}
.inner {
  display: inline-block;
}

.increment-button {
  border: #2e2e2e;
  background-color: white;
  display: block !important;
  cursor: pointer;
}

.quantity-box {
  border-color: #2e2e2e !important;
  background-color: white;
  height: auto;
  width: auto;
  display: inline-flex;
  padding-left: 4%;
}

#qty {
  padding-top: 30%;
}
.form-product {
  margin-top: 1%;
}
.label-form-cp {
  text-align: left;
  margin-left: 5%;
  margin-top: 1%;
}
.label-form-np {
  margin-left: 35%;
  text-align: left;
  margin-top: 1%;
}
.input-form-cp {
  width: 44%;
  margin-left: 5%;
  justify-content: left;
  height: 30px;
  margin-top: 1%;
  padding: 0.5%;
  border-radius: 7px;
  border: 1px solid #e5e5e5;
}
.input-form-np {
  width: 44%;
  margin-left: 1%;
  justify-content: left;
  height: 30px;
  margin-top: 1%;
  padding: 0.5%;
  border-radius: 7px;
  border: 1px solid #e5e5e5;
  display: inline-block;
}
.label-form {
  text-align: left;
  margin-left: 5%;
  margin-top: 1%;
}
.label-button {
  margin-top: 1%;
  margin-left: 5%;
  padding: 10px;
  background: #2e2e2e;
  display: table;
  color: #fff;
  /* height: 5px; */
  border-radius: 3px;
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-form {
  justify-content: left;
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 1%;
  padding: 0.5%;
  border-radius: 7px;
  border: 1px solid #e5e5e5;
}
.input-des {
  text-align: left;
  width: 90%;
  height: 80px;
  border: 1px solid;
  margin-left: 5%;
  margin-top: 1%;
  padding: 0.5%;
  border-radius: 7px;
  border: 1px solid #e5e5e5;
}
.submit-button {
  width: 7%;
  height: 30px;
  background-color: #d67d20;
  color: #efefef;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 2%;
  /* margin-left: 30%; */
  margin-right: 5%;
  float: right;
  display: block;
}
.label-form-box {
  text-align: left;
  margin-left: 5%;
  margin-top: 1%;
  background-color: #eeeeee;
  padding: 1%;
  margin-right: 5%;
}
.submit-button2 {
  width: 10%;
  height: 34px;
  background-color: #d67d20;
  color: #efefef;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 2%;
  /* margin-left: 30%; */
  margin-right: 5%;
  float: right;
  display: block;
}
.submit-button3 {
  width: 10%;
  height: 34px;
  background-color: #424242;
  color: #efefef;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 2%;
  /* margin-left: 30%; */
  margin-right: 1.5%;
  float: right;
  display: block;
}
.radio-label {
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 0.5%;
}
.checkbox-form {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 0.5%;
}

.product-image {
  width: 450px;
  height: 590 px;
  margin-top: 5%;
  margin-right: 35%;
  margin-left: 12%;
  /* display: inline-block; */
  float: left;
}

.product-title {
  font-size: 35px;
  text-align: center;
  color: #2e2e2e;
  margin-left: 44%;
  /* display: inline-block; */
  /* margin-bottom: 2px; */
  /* margin-left: 20%; */
  margin-top: -32.6%;
  text-decoration: underline;
  text-decoration-color: #d67d20;
  text-underline-offset: 3px;
  /* display: inline-block; */
  float: left;
}

.in-stock {
  color: #d67d20;
  margin-top: -28%;
  float: left;
  margin-left: 44%;
  font-weight: bold;
  font-size: 18px;
}

.rating-stars {
  fill: #d67d20;
  /* float: left; */
  margin-left: 44%;
}

.price-text {
  font-size: 24px;
  font-weight: bold;
  color: #d67d20;
  margin-left: 44%;
  float: left;
  margin-top: -14%;
}
/* p {
  margin-left: 0%;
  float: left;
} */
.description {
  margin-left: 44%;
  margin-top: -18.5%;
  float: left;
  color: #2e2e2e;
  text-align: left;
}
h4 {
  margin-top: -21%;
  margin-left: 44%;
  float: left;
  color: #2e2e2e;
  font-size: 21px;
}

.rating {
  margin-top: -25.5%;
  float: left;
  margin-left: 43%;
  font-size: 16px;
  /* display: inline-block */
}

/* Box {
  float: left;
  margin-left: 50%;
  margin-top: -24%;
} */

.button-shopping {
  float: left;
  margin-left: 70%;
  margin-top: -10;
}

.quantity {
  color: #2e2e2e;
  font-size: 17px;
  margin-top: -13.6%;
  margin-left: 50.5%;
  float: left;
}

.artisan-title {
  color: #2e2e2e;
  text-align: left;
  margin-left: 12%;
  font-size: 23px;
  margin-top: 0.2%;
  font-weight: 200;
}
.artisan-name {
  color: #d67d20;
  text-align: left;
  margin-left: 12%;
  font-size: 18px;
  margin-top: 1%;
  font-weight: bold;
}
.artisan-bio {
  color: #2e2e2e;
  text-align: left;
  margin-left: 12%;
  font-size: 15px;
  margin-top: 1%;
}

.reviews-heading {
  color: #2e2e2e;
  text-align: left;
  margin-left: 12%;
  font-size: 26px;
  margin-top: 4%;
  font-weight: bold;
}

.reviewer-name {
  color: #2e2e2e;
  text-align: left;
  margin-top: 2%;
  margin-left: 12%;
  font-weight: bold;
  font-size: 18px;
}

.reviewer-rating {
  margin-left: 10.9%;
  margin-top: 0%;
  align-content: left;
}

.review {
  color: #2e2e2e;
  text-align: left;
  margin-top: -2%;
  margin-left: 12%;
}

.quantity-counter {
  margin-top: 40%;
  float: left;
  margin-left: 30%;
  font-size: 16px;
}
.back-btn {
  /* margin-top: -15%; */
  margin-left: 5%;
}
.back-btn-page-title {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #d67d42;
  text-underline-offset: 6px;
  margin-top: 1%;
  color: #2e2e2e;
  font-size: 40px;
  font-weight: 100;
  display: inline-block;
  margin-left: 29%;
}
.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}
